# Ignore Gradle project-specific cache directory
.gradle
.idea
.nextflow*

# Ignore Gradle build output directory
build
work
validation/*-pane.txt
validation/*.log
validation/*.typescript
validation/*-results/
validation/*-work/
validation/results/
validation/work/
